<a href="https://colab.research.google.com/github/tmtyasr/887y887/blob/main/model2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tourism = pd.read_csv('./dataset/cleaned_dataset_wisata.csv')
user = pd.read_csv('./dataset/user.csv')

In [17]:
print('Jumlah tempat wisata turis : ', len(tourism.Place_Id.unique()))
print('Jumlah user yang membuat fitur dari user : ', len(user.User_Id.unique()))

Jumlah tempat wisata turis :  437
Jumlah user yang membuat fitur dari user :  300

In [18]:
tourism

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Coordinate,Lat,Long,Rating_Count
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,46,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,1068271528,18
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,46,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,1068171245,25
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,46,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,1068335377,19
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,45,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,1068951559,21
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,45,"{'lat': -6.12419, 'lng': 106.839134}",-612419,106839134,24
...,...,...,...,...,...,...,...,...,...,...,...
432,433,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...,Budaya,Surabaya,2000,44,"{'lat': -7.4338593, 'lng': 112.7199058}",-74338593,1127199058,20
433,434,Taman Bungkul,Taman Bungkul adalah taman wisata kota yang te...,Taman Hiburan,Surabaya,0,46,"{'lat': -7.291346799999999, 'lng': 112.7398218}",-72913468,1127398218,24
434,435,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...,Taman Hiburan,Surabaya,0,44,"{'lat': -7.2752955, 'lng': 112.7549381}",-72752955,1127549381,15
435,436,Taman Flora Bratang Surabaya,Taman Flora adalah salah satu taman kota di Su...,Taman Hiburan,Surabaya,0,46,"{'lat': -7.294330299999999, 'lng': 112.7617534}",-72943303,1127617534,21
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Gereja Katolik Kelahiran Santa Perawan Maria m...,Tempat Ibadah,Surabaya,10000,48,"{'lat': -7.2420758, 'lng': 112.7368158}",-72420758,1127368158,35

In [19]:
tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    int64
 7   Coordinate    437 non-null    object
 8   Lat           437 non-null    int64
 9   Long          437 non-null    int64
 10  Rating_Count  437 non-null    int64
dtypes: int64(6), object(5)
memory usage: 37.7+ KB

In [20]:
tourism = tourism.drop(['Description', 'City', 'Price', 'Rating', 'Coordinate', 'Lat', 'Long'], axis = 1)

In [21]:
tourism

,Place_Id,Place_Name,Category,Rating_Count
0,1,Monumen Nasional,Budaya,18
1,2,Kota Tua,Budaya,25
2,3,Dunia Fantasi,Taman Hiburan,19
3,4,Taman Mini Indonesia Indah (TMII),Taman Hiburan,21
4,5,Atlantis Water Adventure,Taman Hiburan,24
...,...,...,...,...
432,433,Museum Mpu Tantular,Budaya,20
433,434,Taman Bungkul,Taman Hiburan,24
434,435,Taman Air Mancur Menari Kenjeran,Taman Hiburan,15
435,436,Taman Flora Bratang Surabaya,Taman Hiburan,21
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Tempat Ibadah,35